<div class="container">
    <div class="row">
        {{#each links }}
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                        <h3 class="card-title text-uppercase">{{ titulo }}</h3>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>